body {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.bg-img-1 {
    background-image: url(../public/slide1.jpg) ;
}

.bg-img-2 {
    background-image: url(../public/slide2.jpg) ;
}

.bg-img-3 {
    background-image: url(../public/slide3.jpg) ;
}

.carousel-img{
    height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

.whatsapp_float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

.whatsapp-icon {
    margin-top: 16px;
}

/* for mobile */
@media screen and (max-width: 767px) {
    .whatsapp-icon {
        margin-top: 10px;
    }

    .whatsapp_float {
        width: 40px;
        height: 40px;
        bottom: 40px;
        right: 10px;
        font-size: 22px;
    }
}

.navbar
{
    background-color: transparent;
}